
body {
	font-family: sans-serif;
	margin: 0;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	color: white;
}

.top-bar {
	background-color: #272727;
	padding: 5px;
	display: flex;
	align-items: center;
	gap: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #393939;
	transition: background-color 0.3s;
	border-radius: 5px;
	text-decoration: none;
	border: 2px black solid;
}

.home-button:hover {
	background-color: #777;
	border-color: white;
}

button {
	background-color: #393939;
	border-radius: 5px;
	border: 2px black solid;
	height: 44px;
	padding: 0px 16px;
	transition: background-color 0.3s;
	color: white;
	font-size: 18px;
}

button:hover {
	background-color: #777;
	border-color: white;
}

input {
	background-color: #222;
	border-radius: 5px;
	border: 2px black solid;
	height: 38px;
	transition: background-color 0.3s;
	color: white;
	font-size: 18px;
	width: 100px;
	text-align: center;
}

input:hover {
	border-color: white;
}

.canvas-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#myCanvas {
	width: 100%;
	height: 100%;
}

.info {
	font-size: 18px;
	background-color: rgba(0,0,0, 0.3);
	border-radius: 10px;
	user-select: none;
	position: fixed;
	bottom: 0;
	padding: 10px;
	padding-left: 40px;
	left: -10px;
}

/* Full-screen overlay */
#overlay {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
	font-size: 40px;
}

/* Modal window */
#new-node-value {
	display: none;
	font-weight: bold;
    background-color: black;
    padding: 20px;
    border-radius: 24px;
    text-align: center;
}

#how-to {
	display: none;
	font-size: 1rem;
	background-color: rgba(0,0,0,0.7);
	border-radius: 40px;
	padding: 20px;
}

.straight {
	color: hsl(49, 100%, 80%);
}
.kink {
	color: hsl(263, 100%, 74%);
}
.red {
	text-decoration: red underline;
}
.black {
	text-decoration: #FFF underline;
}

/* Hide the spinner buttons in WebKit browsers (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinner buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}